.modelsTable {
    width: 100%;
}

mat-header-cell, mat-cell {
    justify-content: center;
  }

.vertical_aligned_row {
    flex-direction: column;
}

.expandedDetailSection {
    margin-right: 20%;
    h4 {
        margin-bottom: 0%;
    }

    .postiveEdge {
        color: greenyellow;
    }
}

.element-detail {
    overflow: hidden;
    display: flex;
    margin-left: 18%;
    margin-bottom: 8px;
}

.odds {
    font-size: smaller;
    color: yellow;
    margin-left: 10px;
}