.models-form-field {
    background-color:rgb(66, 66, 66);
    width: 50%;
}

.affiliate-header {
    background-color:rgb(66, 66, 66);
    color: white;
    margin: 0;
    padding-left: 10%;
    font-size: 3em;
}

tr.example-detail-row {
    height: 0;
}

.save-records-button {
    float: right;
    margin-right: 2%;   
}

.model-spinner {
    left: 50%;
    top: 20%;
}