<ng-container *ngIf="!!teams && !!modelResults; else progressSpinner">
    <mat-form-field appearance="outline" class="models-form-field">
        <mat-label>Away Team</mat-label>
        <mat-select placeholder="Away Team" [(value)]="matchup.away" (selectionChange)="onTeamSelect($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.teamName">
              {{team.teamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="models-form-field">
        <mat-label>Home Team</mat-label>
        <mat-select placeholder="Home Team" [(value)]="matchup.home" (selectionChange)="onTeamSelect($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.teamName">
              {{team.teamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="save-records-button" (click)="saveWagers()">Save Wagers</button>
    <ng-container *ngFor="let item of modelResults | keyvalue">
        <h1 class="affiliate-header">{{item.key | uppercase}}</h1>
        <models-table [affiliate]="item.key" [data]="item.value" [filter]="filterKey"></models-table>
        <!-- <holds-table [affiliate]="item.key" [data]="item.value" [filter]="searchKey" (propSaveStatus)="showSaveStatus($event)" (onRetrieveProps)="getProps($event)"></holds-table> -->
    </ng-container>
</ng-container>
<ng-template #progressSpinner>
    <h1>Running simulations. This may take awhile.</h1>
    <mat-spinner class="model-spinner"></mat-spinner>
</ng-template>