.affiliate-header {
    background-color:rgb(66, 66, 66);
    color: white;
    margin: 0;
    padding-left: 10%;
    font-size: 3em;
}

.holds-form-field {
    background-color:rgb(66, 66, 66);
    width: 50%;
}

.save-records-button {
    float: right;
    margin-right: 2%;   
}

.record-save-message {
    display: block;
    float: right;
    width: 100%;
    text-align: right;
    font-size: 16pt;
    padding-bottom: 4px;
}

.save-success {
    color: green;
}

.save-error {
    color: red;
}