<ng-container *ngIf="!!allAffiliateHolds">
    <mat-form-field appearance="outline" class="holds-form-field">
        <mat-label>Team 1</mat-label>
        <mat-select placeholder="Team 1" [(value)]="matchup[0]" (selectionChange)="onTeamSelect($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.teamName">
              {{team.teamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="holds-form-field">
        <mat-label>Team 2</mat-label>
        <mat-select placeholder="Team 2" [(value)]="matchup[1]" (selectionChange)="onTeamSelect($event)">
            <mat-option></mat-option>
            <mat-option *ngFor="let team of teams" [value]="team.teamName">
              {{team.teamName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
      <span class="record-save-message" [ngClass]="{'save-success' : saveStatus, 'save-error' : !saveStatus}" *ngIf="saveStatus != null">{{saveStatus ? 'Save Successful' : 'Save Failed'}}</span>
      <button mat-raised-button color="primary" class="save-records-button" (click)="saveWagers()">Save Wagers</button>
    <ng-container *ngFor="let item of allAffiliateHolds | keyvalue">
        <h1 class="affiliate-header">{{item.key | uppercase}}</h1>
        <holds-table [affiliate]="item.key" [data]="item.value" [filter]="searchKey" (propSaveStatus)="showSaveStatus($event)" (onRetrieveProps)="getProps($event)"></holds-table>
    </ng-container>
    <ng-container *ngIf="!!searchKey && propsMap[searchKey]">
        <props-container [props]="propsMap[searchKey]" (onPropSave)=saveProps($event)></props-container>
    </ng-container>
</ng-container>