<section class="propsContainer">
    <h1 class="propsHeader">Prop Wagers</h1>
    <div class="propsSaveButtonContainer">
        <button mat-raised-button color="primary" (click)="saveProps(props)">Save Props</button>
    </div>
    <div>
        <div *ngFor="let prop of props" class="propSection">
            <div><h4><u>{{prop.playerName}}</u></h4></div>
            <div>{{prop?.value}} PTS</div>
            <div><mat-checkbox (change)="onPropSelect($event, prop, overUnderEnum.OVER)" [checked]="prop.pick === overUnderEnum.OVER"></mat-checkbox>
                Over Odds: {{prop?.overOdds}} <span [ngClass]="{'postiveEdge' : prop?.overEdge > 0}">Over Edge: {{prop?.overEdge | percent: '2.2'}}</span>
            </div>
            <div><mat-checkbox (change)="onPropSelect($event, prop, overUnderEnum.UNDER)" [checked]="prop.pick === overUnderEnum.UNDER"></mat-checkbox>
                Under Odds: {{prop?.underOdds}} <span [ngClass]="{'postiveEdge' : prop?.underEdge > 0}">Under Edge: {{prop?.underEdge | percent: '2.2'}}</span>
            </div>
            <div>Affiliate: {{prop.affiliate}}</div>
        </div>
    </div>
</section>
