.propsContainer {
    background-color:rgb(66, 66, 66);
    color: white;
    padding-top: 10px;

    .propsHeader {
        margin-left: 10%;
        font-size: 3em;
    }
    
    .postiveEdge {
        color: greenyellow;
    }

    .propSection {
        display: inline-block;
        margin-right: 60px;
    }
    
    .propsSaveButtonContainer {
        float: right;
    }
}