.stats-container {
    background-color:rgb(66, 66, 66);
    height: 100%;

    .submit-btn {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    .results-container {
        color: white;

        .results-section {
            display: inline-block;
            margin-right: 50px;
            h1 {
                text-align: center;
            }
        }

        .postiveEdge {
            color: greenyellow;
        }
    }
}