<section class="stats-container">
    <form [formGroup]="form" (submit)="submit()">
      <section>
        <mat-form-field appearance="outline">
            <mat-label>Favorite</mat-label>
            <mat-select formControlName="favorite" placeholder="Favorite">
              <mat-option *ngFor="let team of teams" [value]="team.key">
                {{team.teamName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Underdog</mat-label>
          <mat-select formControlName="underdog" placeholder="Underdog">
            <mat-option *ngFor="let team of teams" [value]="team.key">
              {{team.teamName}}
            </mat-option>
          </mat-select>
        </mat-form-field>        
      </section>

      <section>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Total</mat-label>
          <input matInput type="number" formControlName="total" required>
          <mat-error *ngIf="form.controls.total.touched && form.controls.total.invalid">
            <span *ngIf="form.controls.total.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Over Odds</mat-label>
          <input matInput type="number" formControlName="overOdds" required>
          <mat-error *ngIf="form.controls.overOdds.touched && form.controls.overOdds.invalid">
            <span *ngIf="form.controls.overOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Under Odds</mat-label>
          <input matInput type="number" formControlName="underOdds" required>
          <mat-error *ngIf="form.controls.underOdds.touched && form.controls.underOdds.invalid">
            <span *ngIf="form.controls.underOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Spread</mat-label>
          <input matInput type="number" formControlName="spread" required>
          <mat-error *ngIf="form.controls.spread.touched && form.controls.spread.invalid">
            <span *ngIf="form.controls.spread.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Favorite Spread Odds</mat-label>
          <input matInput type="number" formControlName="favoriteSpreadOdds" required>
          <mat-error *ngIf="form.controls.favoriteSpreadOdds.touched && form.controls.favoriteSpreadOdds.invalid">
            <span *ngIf="form.controls.favoriteSpreadOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Underdog Spread Odds</mat-label>
          <input matInput type="number" formControlName="underdogSpreadOdds" required>
          <mat-error *ngIf="form.controls.underdogSpreadOdds.touched && form.controls.underdogSpreadOdds.invalid">
            <span *ngIf="form.controls.underdogSpreadOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Favorite ML Odds</mat-label>
          <input matInput type="number" formControlName="favoriteMLOdds" required>
          <mat-error *ngIf="form.controls.favoriteMLOdds.touched && form.controls.favoriteMLOdds.invalid">
            <span *ngIf="form.controls.favoriteMLOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Underdog ML Odds</mat-label>
          <input matInput type="number" formControlName="underdogMLOdds" required>
          <mat-error *ngIf="form.controls.underdogMLOdds.touched && form.controls.underdogMLOdds.invalid">
            <span *ngIf="form.controls.underdogMLOdds.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </section>
      
      <section>
        <button class="submit-btn" mat-raised-button color="primary" type="submit">Submit</button>
        <button class="submit-btn" mat-raised-button color="primary" (click)="resetForm()">Reset Form</button>
      </section>
    </form>
    <section class="results-container" *ngIf="monteCarloResults">
      <section class="results-section">
        <h1>Spread</h1>
        <ul>
          <li>Favorite Win %: {{monteCarloResults.favoriteSpreadPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.favoriteSpreadEdge > 0}">Favorite Edge: {{monteCarloResults.favoriteSpreadEdge | percent: '2.2'}}</li>
          <li>Underdog Win %: {{monteCarloResults.underdogSpreadPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.underdogSpreadEdge > 0}">Underdog Edge: {{monteCarloResults.underdogSpreadEdge | percent: '2.2'}}</li>
        </ul>
      </section>
      <section class="results-section">
        <h1>Total</h1>
        <ul>
          <li>Over %: {{monteCarloResults.overPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.overEdge > 0}">Over Edge: {{monteCarloResults.overEdge | percent: '2.2'}}</li>
          <li>Under %: {{monteCarloResults.underPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.underEdge > 0}"> Under Edge: {{monteCarloResults.underEdge | percent: '2.2'}}</li>
        </ul>
      </section>
      <section class="results-section">
        <h1>Moneyline</h1>
        <ul>
          <li>Favorite ML Win %: {{monteCarloResults.favoriteMLPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.favoriteMLEdge > 0}">Favorite ML Edge: {{monteCarloResults.favoriteMLEdge | percent: '2.2'}}</li>
          <li>Underdog ML Win %: {{monteCarloResults.underdogMLPct | percent: '2.2'}}</li>
          <li [ngClass]="{'postiveEdge' : monteCarloResults.underdogMLEdge > 0}">Underdog ML Edge: {{monteCarloResults.underdogMLEdge | percent: '2.2'}}</li>
        </ul>
      </section>
    </section>
</section>
