<!-- <holds-component></holds-component> -->
<mat-toolbar color="primary">
    <mat-nav-list class="list-horizontal">
      <mat-list-item>
        <a [routerLink]="['/holds']">Holds</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/stats']">Stats</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/models']">Models</a>
      </mat-list-item>
    </mat-nav-list>
</mat-toolbar>
<router-outlet></router-outlet>