<table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8 holdsTable">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element" class="vertical_aligned_row">
            <div class="row_div">{{element.moneyline?.sides[0].teamName || element.spread?.sides[0].teamName}}</div>
            <div class="row_div">{{element.moneyline?.sides[1].teamName || element.spread?.sides[1].teamName}}</div>
        </mat-cell>
    </ng-container>

    <!-- Spread Column -->
    <ng-container matColumnDef="spread">
        <mat-header-cell *matHeaderCellDef>Spread</mat-header-cell>
        <mat-cell *matCellDef="let element" class="vertical_aligned_row">
            <ng-container *ngIf="element?.spread?.sides; else emptyCell">
                <div class="row_div">{{element.spread.sides[0].points}}<span class="odds">{{element.spread.sides[0].odds}}</span></div>
                <div class="row_div">{{element.spread.sides[1].points}}<span class="odds">{{element.spread.sides[1].odds}}</span></div>
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Spread Hold Column -->
    <ng-container matColumnDef="spreadHold">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Spread Hold</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element?.spread?.hold; else emptyCell">{{element.spread.hold | percent:'1.2'}}</ng-container>
        </mat-cell>
    </ng-container>

    <!-- Save Spread -->
    <ng-container matColumnDef="save spread">
        <mat-header-cell *matHeaderCellDef>Save Spread</mat-header-cell>
        <mat-cell *matCellDef="let element" class="vertical_aligned_row">
            <ng-container *ngIf="element?.spread?.sides; else emptyCell">
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.spread.sides[0].pick"></mat-checkbox></div>
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.spread.sides[1].pick"></mat-checkbox></div>
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let element" class="vertical_aligned_row">
            <ng-container *ngIf="element?.total?.sides; else emptyCell">
                <div class="row_div">{{element.total.sides[0].overUnder + ' ' + element.total.sides[0].points}}<span class="odds">{{element.total.sides[0].odds}}</span></div>
                <div class="row_div">{{element.total.sides[1].overUnder + ' ' + element.total.sides[1].points}}<span class="odds">{{element.total.sides[1].odds}}</span></div>
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Total Hold Column -->
    <ng-container matColumnDef="totalHold">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Total Hold</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element?.total?.hold; else emptyCell">{{element.total.hold | percent:'1.2'}}</ng-container>
        </mat-cell>
    </ng-container>

    <!-- Save Total Column -->
    <ng-container matColumnDef="save total">
        <mat-header-cell *matHeaderCellDef>Save Total</mat-header-cell>
        <mat-cell *matCellDef="let element" class="vertical_aligned_row">
            <ng-container *ngIf="element?.total?.sides; else emptyCell">
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.total.sides[0].pick"></mat-checkbox></div>
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.total.sides[1].pick"></mat-checkbox></div>
            </ng-container>
        </mat-cell>
    </ng-container>

     <!-- Moneyline Column -->
     <ng-container matColumnDef="moneyline">
        <mat-header-cell *matHeaderCellDef>Moneyline</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'vertical_aligned_row' : element.moneyline?.sides}">
            <ng-container *ngIf="element.moneyline?.sides; else emptyCell">
                <div class="row_div"><span class="odds">{{element.moneyline.sides[0].odds}}</span></div>
                <div class="row_div"><span class="odds">{{element.moneyline.sides[1].odds}}</span></div>
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Moneyline Hold Column -->
    <ng-container matColumnDef="moneylineHold">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Moneyline Hold</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.moneyline?.hold; else emptyCell">
                {{element.moneyline.hold | percent:'1.2'}} 
            </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Save Moneyline Column -->
    <ng-container matColumnDef="save moneyline">
        <mat-header-cell *matHeaderCellDef>Save Moneyline</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="{'vertical_aligned_row' : element.moneyline?.sides}">
            <ng-container *ngIf="element.moneyline?.sides; else emptyCell">
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.moneyline.sides[0].pick"></mat-checkbox></div>
                <div class="row_div"><mat-checkbox class="save-record-checkbox" [(ngModel)]="element.moneyline.sides[1].pick"></mat-checkbox></div>
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="simulate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Simulate</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button (click)="runSim(element)" mat-icon-button>
                <mat-icon>analytics</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="props">
        <mat-header-cell *matHeaderCellDef mat-sort-header>See Props</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="getProps(element)">Props</button>
        </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail"
                [@detailExpand]="element.simulation ? 'expanded' : 'collapsed'">
                <div class="expandedDetailSection">
                    <div><h4>Spread</h4></div>
                    <div> Favorite Win %: {{element.simulation?.favoriteSpreadPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.favoriteSpreadEdge > 0}">Favorite Edge: {{element.simulation?.favoriteSpreadEdge | percent: '2.2'}}</div>
                    <div>Underdog Win %: {{element.simulation?.underdogSpreadPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.underdogSpreadEdge > 0}">Underdog Edge: {{element.simulation?.underdogSpreadEdge | percent: '2.2'}}</div>
                </div>
                <div class="expandedDetailSection">
                    <div><h4>Total</h4></div>
                    <div>Over %: {{element.simulation?.overPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.overEdge > 0}">Over Edge: {{element.simulation?.overEdge | percent: '2.2'}}</div>
                    <div>Under %: {{element.simulation?.underPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.underEdge > 0}">Under Edge: {{element.simulation?.underEdge | percent: '2.2'}}</div>
                </div>
                <div class="expandedDetailSection">
                    <div><h4>Moneyline</h4></div>
                    <div>Favorite ML Win %: {{element.simulation?.favoriteMLPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.favoriteMLEdge > 0}">Favorite ML Edge: {{element.simulation?.favoriteMLEdge | percent: '2.2'}}</div>
                    <div>Underdog ML Win %: {{element.simulation?.underdogMLPct | percent: '2.2'}}</div>
                    <div [ngClass]="{'postiveEdge' : element.simulation?.underdogMLEdge > 0}">Underdog ML Edge: {{element.simulation?.underdogMLEdge | percent: '2.2'}}</div>
                </div>
            </div>
            <div class="element-detail" [@detailExpand]="element.props ? 'expanded' : 'collapsed'">
                <div class="expandedDetailSection">
                    <div><h4>Props</h4></div>
                    <div class="propsSaveButtonContainer">
                        <button mat-raised-button color="primary" (click)="saveProps(element.props)">Save Props</button>
                    </div>
                    <div>
                        <div *ngFor="let prop of element.props" class="propSection">
                            <div><h4><u>{{prop.playerName}}</u></h4></div>
                            <div>{{prop?.value}} PTS</div>
                            <div><mat-checkbox (change)="onPropSelect($event, prop, overUnderEnum.OVER)" [checked]="prop.pick === overUnderEnum.OVER"></mat-checkbox>
                                Over Odds: {{prop?.overOdds}} <span [ngClass]="{'postiveEdge' : prop?.overEdge > 0}">Over Edge: {{prop?.overEdge | percent: '2.2'}}</span>
                            </div>
                            <div><mat-checkbox (change)="onPropSelect($event, prop, overUnderEnum.UNDER)" [checked]="prop.pick === overUnderEnum.UNDER"></mat-checkbox>
                                Under Odds: {{prop?.underOdds}} <span [ngClass]="{'postiveEdge' : prop?.underEdge > 0}">Under Edge: {{prop?.underEdge | percent: '2.2'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<ng-template #emptyCell><div class="row_div">-</div></ng-template>