.holdsTable {
    width: 100%;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

.vertical_aligned_row {
    flex-direction: column;
}

// .row_div {
//     flex-grow: 1;
//     width:100%;
// }

.odds {
    font-size: smaller;
    color: yellow;
    margin-left: 10px;
}

tr.example-detail-row {
    height: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
    margin-left: 18%;
    margin-bottom: 8px;
}

.expandedDetailSection {
    margin-right: 20%;
    h4 {
        margin-bottom: 0%;
    }

    .postiveEdge {
        color: greenyellow;
    }
}

.save-record-checkbox {
    padding-left: 5px;
}